$blue: #2bd2ff;
$navcolor: #7082e8;
$blue1: #6725a5;
$shadow: #0e0e0e73;
$DDlastchild: #0b49f5;
$bottomcolor: #06173c; //7b8d14;
$footercolor: #ffffff6e;
$footlinkcolor: #271c64;
$footerh2: #631663;
$facebook: #0c5998;
$twitter: #2ca9e0;
$linkedin: #0071a8;

/**/

$deepbrown: #100d04;
$lightgold: #fcdc3c;
$darkgold: #a18004;
